
<body>
    <header class="header">
        <div class="container">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="navbar-header">
                    <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand scroll-top logo"><b>Clean Sweep</b></a>
                </div>
                <!--/.navbar-header-->
                <div id="main-nav" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="mainNav">
                        <li class="active"><a href="#home" class="scroll-link">Home</a></li>
                        <li><a href="#aboutUs" class="scroll-link">About Us</a></li>
                        <li><a href="#skills" class="scroll-link">Sign Up</a></li>
                        <li><a href="#portfolio" class="scroll-link">Login</a></li>
                        <li><a href="#contactUs" class="scroll-link">Contact Us</a></li>
                    </ul>
                </div>
                <!--/.navbar-collapse-->
            </nav>
            <!--/.navbar-->
        </div>
        <!--/.container-->
    </header>
    <!--/.header-->
    <div id="#top"></div>
    <section id="home">
        <div class="banner-container">
            <img src="images/laundry.jpg" alt="banner" />
            <div class="container banner-content">
                <div id="da-slider" class="da-slider">
                    <div class="da-slide">
                        <h2>Clean Sweep</h2>
                        <p>Let our professional cleaners do all of the dirty work for you!</p>
                        <div class="da-img"></div>
                    </div>
                    <div class="da-slide">
                        <h2>In-laws Coming Into Town?</h2>
                        <p>Let us clean for you.  We won't tell your mother-in-law!</p>
                        <div class="da-img"></div>
                    </div>
                    <div class="da-slide">
                        <h2>Got the Laundry Day Blues?</h2>
                        <p>We can do the washing and folding for you!</p>
                        <div class="da-img"></div>
                    </div>
        <!--  <nav class="da-arrows">
                        <span class="da-arrows-prev"></span>
                        <span class="da-arrows-next"></span>
                    </nav> -->
                </div>
            </div>
        </div>
    </section>
    <section id="introText">
        <div class="container">
            <div class="text-center">
            <h1>Clean Sweep will make your house spotless.</h1>
              <p>We are a service that connects local cleaners with people in need of a clean home.  It doesn't matter if it's the next-day or same-day.  In fact, that's our specialty!</p>
            </div>
        </div>

    </section>
    <!--About-->
    <section id="aboutUs" class="secPad">
        <div class="container">
            <div class="heading text-center">
                <!-- Heading -->
                <h2>Why use Clean Sweep?</h2>
                <p>Here are just a few of the benefits:</p>
            </div>
            <div class="row">
                <!-- item -->
                <div class="col-md-4 text-center tileBox">
                   <div class="txtHead"> <i class="fa fa-calendar"></i>
                    <h3>Easy</h3></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum erat et neque tincidunt volutpat. Cras eget augue id dui varius pretium.</p>
                </div>
                <!-- end: -->

                <!-- item -->
                <div class="col-md-4 text-center tileBox">
                    <div class="txtHead"><i class="fa fa-thumbs-up"></i>
                    <h3>Professional</h3></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum erat et neque tincidunt volutpat. Cras eget augue id dui varius pretium.</p>
                </div>
                <!-- end: -->

                <!-- item -->
                <div class="col-md-4 text-center tileBox">
                    <div class="txtHead"><i class="fa fa-clock-o"></i>
                    <h3>Time-saving </h3></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum erat et neque tincidunt volutpat. Cras eget augue id dui varius pretium.</p>
                </div>
                <!-- end: -->
            </div>
        </div>
    </section>
    <!--Quote-->
    <section id="quote" class="bg-parlex">
        <div class="parlex-back">
            <div class="container secPad text-center">
        <h2>Clean Sweep was the biggest help when I moved out of my apartment...They put me in contact with a local contractor, who did a thorough and great job.  Can't recommend enough!</h2><h3>-Chicago-area Customer</h3>
            </div>
            <!--/.container-->
        </div>
    </section>
    
    <!--Skills-->
    <section id="skills" class="secPad white">
      <div class="container">
        <div class="heading text-center">
                <!-- Heading -->
                <h2>Sign Up for Clean Sweep </h2>
                <p>Whether you are looking to get your house cleaned or work as a contractor with Clean Sweep, sign up using the form below.</p>
            </div>
          <div class="row">
                <div class="col-sm-6">
                    
              
                                </div>
                            </div>     
    </section>
    
  
   <!--Portfolio-->
    <section id="portfolio" class="page-section section appear clearfix secPad">
        <div class="container">

            <div class="heading text-center">
                <!-- Heading -->
                <h2>Already a Member? Sign in here.</h2>
                <p>If you have already created an account as a client or contractor, use the login below.</p>
            </div>

            <div class="row">
                

                    </div>


                </div>
            </div>

        </div>
    </section>

  <!--Contact -->
    <section id="contactUs" class="page-section secPad">
        <div class="container">

            <div class="row">
                <div class="heading text-center">
                    <!-- Heading -->
                    <h2>Contact Clean Sweep Headquarters</h2>
                    <p>If you have any questions about Clean Sweep, please use the form below to reach us or call 111.111.1111.</p>
                </div>
            </div>

            <div class="row mrgn30">

                <form method="post" action="" id="contactfrm" role="form">

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" name="name" id="name" placeholder="Enter name" title="Please enter your name (at least 2 characters)">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" name="email" id="email" placeholder="Enter email" title="Please enter a valid email address">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="comments">Comments</label>
                            <textarea name="comment" class="form-control" id="comments" cols="3" rows="5" placeholder="Enter your message…" title="Please enter your message (at least 10 characters)"></textarea>
                        </div>
                        <button name="submit" type="submit" class="btn btn-lg btn-primary" id="submit">Submit</button>
                        <div class="result"></div>
                    </div>
                </form>
                <div class="col-sm-4">
                    <h4>Address:</h4>
                    <address>
                        Clean Sweep<br>
                        123 Main Street<br>
                        Chicago, IL 60606 USA
                        <br>
                    </address>
                    <h4>Phone:</h4>
                    <address>
                        12345-49589-2<br>
                    </address>
                </div>
            </div>
        </div>
       
