<div class="row">
  <div class="page">
    <tr>
      Sort by:
  <th><%= sortable "rating", "Rating," %></th>
  <th><%= sortable "rate", "Price"%></th>
</tr>
    <div class="col-md-8 col-md-offset-2">
      <h2>Please select a vendor:</h2>
<div id="search-results">
      <%= render partial: "vendor", collection: @vendors %>
</div>
    </div>
  </div>
</div>